.my-btn{
    border-radius: 100px !important;
    border-color: #ffffffcc !important;
    background-color: #afafaf1c !important;
    color: white !important;
}
.navbar{
    background-color: #ffffff1f !important;
}
.page {
    font-family: "centabel";
    background: url("../img/bg1.jpg") no-repeat center center fixed !important;
    background-size: cover !important;
}

